.info__tour {
  background-color: #eee;
  padding-top: 30vh;
  margin-top: -25vh;
  height: 120vh;
  text-align: center;
}
.card--info {
  background-image: linear-gradient(to top left, #7ed56f67, #55c57a9f),
    url(/img/nat-4.jpg);
  width: 100%;
  height: 75vh;
  transform: skewY(-5deg);
  margin-top: -10vh;
  padding: 10%;
}
